<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dualpanto Tester</title>
    <link rel="stylesheet" href="static/style.css">
    <script src="static/script.js"></script>
<body>
    <header>
        Dualpanto Tester
    </header>
    <div class="container">
        <div class="left">
            <div class="list-item" onclick="showInfo('upload_firmware')">
                <div>
                    <h2>Upload firmware test</h2>
                    <p>Check if a connection to the panto exists</p>
                </div>
                <button onclick="do_test(this, 'upload_firmware')">Start Test</button>
            </div>
            <div class="list-item" onclick="showInfo('Item 2')">
                <div>
                    <h2>Test 2</h2>
                    <p>Description for test 2</p>
                </div>
                <button>More Info</button>
            </div>
            <div class="list-item">
                <div>
                    <h2>Test 3</h2>
                    <p>Description for test 3</p>
                </div>
                <button onclick="showInfo('Item 3')">More Info</button>
            </div>
            <!-- Add more list items as needed -->
        </div>
        <div class="right"3>
            <div class="additional-info" id="info-box">
                <h2>Dualpanto Testing Framework</h2>
                <p>Start by testing the firmware upload</p>
            </div>
        </div>
    </div>
</body>
</html>