<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dualpanto Tester</title>
    <link rel="stylesheet" href="static/style.css">
    <script src="static/script.js"></script>
    <body>
    <div class="container">
         <header>
            Dualpanto Tester
        </header>
        <div class="vertical-container">
            <div class="horizontal-container">
                <div class="left">
                    <div class="list-item" onclick="showInfo('upload_firmware')">
                        <div>
                            <h2>Upload firmware test</h2>
                            <p>Check if a connection to the panto exists</p>
                        </div>
                        <button onclick="do_test(this, 'hello_world')">Start Test</button>
                    </div>
                    <div class="list-item" onclick="showInfo('Item 2')">
                        <div>
                            <h2>Automatic Motor + Encoder</h2>
                            <p>Automatic motor encoder combination test</p>
                        </div>
                        <button onclick="do_test(this, 'encoder_motor_automatic')">Start Test</button>
                    </div>
                    <div class="list-item">
                        <div>
                            <h2>Linkage Sync</h2>
                            <p>Sync the handles (mirrored)</p>
                        </div>
                        <button onclick="showInfo('Item 3')">More Info</button>
                    </div>

                    <!-- Add more list items as needed -->
                </div>
                <div class="right">
                    <div class="additional-info" id="info-box">
                        <h2>Dualpanto Testing Framework</h2>
                        <p>Start by testing the firmware upload</p>
                    </div>
                </div>
            </div>
            <div id="bottom" class="bottom">
            </div>
        </div>
    </div>
</body>
</html>